.cmisApp {
    /* In conjunction with the 'margin' set in cmisApp-common.css this centers the div on the screen. */
    
    width: 603px;
}

.section td {
    padding: 5px;
}

.claimDeptComment {
    color: red;
    font-weight: bold;
    font-size: 103%;
    text-align: center;
}

.fieldLabel {
    font-weight: bold;
}

.fieldValue {
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.submitButtonContainer {
    text-align: right;
}

.submitButton {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #ffffff;
    text-shadow: none;
    border: none;
    height: 32px;
    line-height: 32px;
    padding: 0px 25.6px;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background: #0971B2;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.submitButton:hover {
    text-decoration: none;
    color: #ffffff;
    background: #0B88D6;
}

.submitButton:active {
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.03), inset 0px -1px 1px rgba(255, 255, 255, 0.05), 0px 1px 0px #777777, 0px 3px 3px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.05), 0px 1px 0px #777777, 0px 3px 3px rgba(0, 0, 0, 0.03);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.03), inset 0px -1px 1px rgba(255, 255, 255, 0.05), 0px 1px 0px #777777, 0px 3px 3px rgba(0, 0, 0, 0.03)
}

.submitButtonDisabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #ffffff;
    text-shadow: none;
    border: none;
    height: 32px;
    line-height: 32px;
    padding: 0px 25.6px;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    display: none;
    background: #AAAAAA;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    /* position is required in order for z-index to work. */
    
    position: relative;
    /* z-index is used in conjunction with the "grayOut()" function in util.js to get the button to stay on top. */
    
    z-index: 100;
}

.submitButtonDone {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF;
    text-shadow: none;
    border: none;
    height: 32px;
    line-height: 32px;
    padding: 0px 25.6px;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    display: none;
    background: #FFFFFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.resultWindow {
    display: none;
    padding: 20px;
    background-color: white;
    z-index: 100;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    /**
    * This silliness centers the div in the page.
    *
    * The 'width' is required to horizontally center.
    *
    * Normally it's suggested to use a fixed height for vertical centering because
    * the default 'display' will be block so the div will fill the screen. But I
    * found that 'display: table' works; the div is vertically centered and the
    * height adjusts to match the content. So the code sets 'display' to 'table'
    * when this DIV is shown.
    */
    
    width: 182px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.submitMessage {
    font-size: 175%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}