* {
    font-family: "Cambria";
    font-size: 104%;
}

td {
    padding: 5px;
}

.pageBackground {
    background-color: #0971B2;
    display: block;
    width: 100%;
    height: 100%;
}

.cmisApp {
    margin: 10px;
    padding: 20px;
    border-style: ridge;
    border-width: 1px;
    display: inline-block;
    background-color: white;
}

.formTitle {
    font-size: 150%;
    font-weight: bold;
}

.sectionLabel {
    font-weight: bold;
}

.fieldLabel {
    font-weight: bold;
}

.fieldValue {
    width: 100%;
}

.fieldCell {}

.section {
    width: 100%;
}

.submitButton {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #ffffff;
    text-shadow: none;
    border: none;
    height: 32px;
    line-height: 32px;
    padding: 0px 25.6px;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background: #0971B2;
    float: right;
    cursor: pointer;
}

.submitButton:hover {
    text-decoration: none;
    color: #ffffff;
    background: #0B88D6;
}

.submitButton:active {
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.03), inset 0px -1px 1px rgba(255, 255, 255, 0.05), 0px 1px 0px #777777, 0px 3px 3px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.05), 0px 1px 0px #777777, 0px 3px 3px rgba(0, 0, 0, 0.03);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.03), inset 0px -1px 1px rgba(255, 255, 255, 0.05), 0px 1px 0px #777777, 0px 3px 3px rgba(0, 0, 0, 0.03)
}

.submitButtonDisabled {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #ffffff;
    text-shadow: none;
    border: none;
    height: 32px;
    line-height: 32px;
    padding: 0px 25.6px;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    display: none;
    background: #AAAAAA;
    float: right;
    cursor: pointer;
}